
.movies_section{
    padding: 2rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8)), url('../../image/background/phonoteka.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}
.movies_section__title{
    width: 95%;
    margin: 0 auto 2rem auto;
    font-family: 'Inter',sans-serif;
    font-size: 3rem;
    line-height: 1;
}

.movies_section__list{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list_item{
    width: 20%;
    width: 20rem;
    height: 45rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(22, 22, 22);
    border: 1px solid rgba(179, 178, 178, 0.333);
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.12), 0px 1px 1px rgba(255, 255, 255, 0.14), 0px 2px 1px rgba(255, 255, 255, 0.2);
    border-radius: .4rem;
    cursor: pointer;
    transition: all .3s;
    margin: 1%;
}
.list_item:hover{
    box-shadow: 3px 4px 7px rgba(255, 255, 255, 0.24), 0px 1px 1px rgba(255, 255, 255, 0.30), 0px 2px 1px rgba(255, 255, 255, 0.4);
    transform: translateY(-.2rem)translateX(-.2rem);

}
.list_item_img{
    display: block;
    width: 100%;
}

.list_item_info{
    padding-left: .8rem;
}
.list_item_title{
    font-size: 1.5rem;
}
.list_item_date{
    font-size: 1rem;
}

.list_item_btns{
    text-align: center;
}

.list_item_btns__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}
.list_item_btns__list_item{
    margin: 1.2%;
}
.btns__list_btn{
    color: white;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 400;
    background: none;
    border: 1px solid white;
    border-radius: .3rem;
    cursor: pointer;
}
.btns_btn{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    background: none;
    border: 1px solid white;
    border-radius: .3rem;
    cursor: pointer;
    margin-bottom: .5rem;
}





