
.movies_section{
    padding: 2rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 100%, rgba(0, 0, 0, 0.75)), url('../../image/background/phonoteka.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}
.movies_section__title{
    width: 95%;
    margin: 0 auto 2rem auto;
    font-family: 'Inter',sans-serif;
    font-size: 3rem;
    line-height: 1;
}

.movies_section__list{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
