.footer{
   padding: 2rem;
}
.footer__wrapper{
    padding: 1rem;
}
.footer__logo{
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    font-weight: 500;
}
.footer__logo_a{
    font-family: 'Inter',sans-serif;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(245, 76, 76);
    transform: rotate(10deg) translateY(.5rem);
    margin-right: .5rem;
}
.footer__date{
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 2rem;
}