.header{
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
    background: #1A1F38;
    color: white;
    padding: .6rem;

    position: fixed;
    top: 0;
    z-index: 2;
}
.header__wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    font-family: 'Kalam', cursive;
    font-size: 4.8rem;
    font-weight: 500;
    cursor: pointer;
}


.header__title-logo{
    display: inline-block;
    font-size: 4.5rem;
    font-weight: 400;
    color: rgb(245, 76, 76);
    transform: rotate(10deg) translateY(1rem);
}
.logo__yllow{
    color: yellow;
    margin-right: .4rem;
}

.logo__blue{
    color: rgb(32, 103, 255);
    margin-right: .4rem;
}

.logo__green{
    color: rgb(5, 226, 5);
    margin-right: .2rem;
}

.header__search{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-size: 2.5rem; */
    background: #C4C4C4;
    
    border-radius: .8rem;
    padding: .5rem;
}
.header__search_input{
    width: 85%;
    font-size: 1.5rem;
    border: none;
    background: none;
    border-radius: .8rem;
    padding: 1rem;
}
.header__search_btn{
    width: 3.5rem;
    height: 3.5rem;
    background:none;
    background-image: url('../../image/svg/search.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2%;
}