/* .carousel{
    background: #050E12;
} */

.carousel__item{
    cursor: pointer;
}
.carousel__item-img{
    max-height: 90vh;
    object-fit: cover;
    object-position: 0 30%;
    filter: brightness(0.35);
}

.carousel__info{
    color: #fcf6f6;
    width: 70%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    left: 5%;
}

.carousel__info-title{
    font-family: 'Roboto',sans-serif;
    font-size: 4rem;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 3%;
}

.carousel__info-text{
    font-size: 2.8rem;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 2%;
    text-align: start;
}

.carousel__info-rating{
    font-size: 3.2rem;
  
    display: flex;

    align-items: center;
}
.carousel__info-rating img{
    width: 3.3rem;
    margin-right: .5rem;
}